


.openerp .oe_form_sheetbg {
    padding: 16px 0;
    max-width: none !important;
}
.openerp .oe_form_sheet_width_wider {
    /*max-width: 1100px;*/
    max-width: 95%;
}

/*
.graph_border {
    text-align: left;
    color: red;
}
*/

/*
h1 {
  color:red;
}


.openerp p {
  color:red;
  background-color: green;
}


.openerp .oe_secondary_menu_section {
    color: red;
    background-color: green;
}
*/


.openerp .announcement_bar {
    display:none;
}
